<div class="right-col">
    <div class="photos">
      <div id='list'>
        <% @photos.each do |photo| %>
          <div class='item'><%= image_tag(photo.image_file) %>
          <%= photo.likes %></div>
        <% end %>
      </div>
    </div>
  </div>

