<div class="right-col">
  <div class="photos-wrapper">
    <div id='list'>
      <% @photos.each do |photo| %>
        <div class='item'><%= link_to image_tag(photo.image_file), photo_path(photo) %>
        <%= photo.likes %>
        <div class="roight"><%= photo.time_added %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
