<section class="right-col">
  <div id='photos'>
    <div id='list'>
      <% @photos.each do |photo| %>
        <div class='item'><%= image_tag(photo.image_url) %>
        <%= photo.likes %></div>
      <% end %>
    </div>
  </div>
</section>
