/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @font-face {
   font-family: "VAG rounded";
   src: font-url('VAG_Rounded.ttf');
}

$VAG-font: "VAG Rounded", sans-serif;
$blurple: #5019FB;
$dark_blurple: #141acc;
$aqua_green: #6ae489;
$dark_aqua_green: #58ce76;
$rad_red: #ec5252;
$dark_gray: #797979;
$dark_dark_gray: #5b5b5b;
$light_gray: #b7b7b7;

p, a, li, ul, h1, h2, h3, h4, h5, h6, .submit_title {
  font-family: $VAG-font;
}

li.filter-item {
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  padding: 20px 0 0 0;
}

.random-line {
  color: $light-gray;
}

label {
  font-family: $VAG-font;
  font-size: 13px;
  color: $light_gray;
  padding: 0 0 5px 0;

}

.about_index {
  position: relative;
  margin: 10px 50px 0 0px;
  width: 300px;
  height: 100%;
  float: left;
}

.filters {
  position: fixed;
  margin: 10px 50px 0 0;
  width: 300px;
}

a {
  color: $dark_gray;
  font-size: 13px;
}

input#photo_name, #photo_description, #photo_source, #tag_name {
  border-radius: 5px;
  border: solid 1px #dedede;
  background: #f9f9f9;
  box-shadow: none;
}

h1 {
  font-family: $VAG-font;
}

.top-bar-thing {
  height: 100px;
  width: 100%;
}

.logo {
  float: left;
  width: 175px;
  height: 51px;
  margin: 0px 20px 0 50px;
  position: fixed;
}

.search {
  float: left;
  width: 150px;
  padding: 15px 0 0 50px;
}

li.nav-item {
  font-size: 13px;
  text-decoration: none;
  list-style: none;
  padding: 20px 0 0 20px;
  float: left;
  margin: 0;
  list-style-type: none;
}

li.user-nav {
  list-style-type: none;
}

.user-nav {
  float: right;
  text-decoration: none;
  padding: 15px 15px 0 0;
}


#photos
{
 max-width: 60em; /* 960 px */
 margin: 0 auto;
}

#list {
 width: 103.125%; /* 990px */
 overflow: hidden;
 margin-left: -1.562%; /* 15px */
 margin-bottom: 10px;
}

.item {
  width: 230px;
  margin: 15px;
}

.left-col {
  float: left;
  width: 300px;
  height: 100%;
  margin: 0 0 0 50px;
}

.right-col {
}

.form-wrapper {
  float: left;
  height: 100%;
  width: 350px;
}

.photos-wrapper {
  float: left;
  height: 100%;
  width: 650px;
}

.roight {
  float: right;
}

.user_option_nav {
  margin: 0 0 0 300px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item {
  float: left;
}

.item.thumbnail {
  width:  100px;
  height: 100px;
  background: #cfcfcf
}

.item.medium {
  width:  150px;
  height: 50px;
  background: #A6E392
}

.item.large {
  width:  200px;
  height: 100px;
  background: #D092E3
}
