/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @font-face {
   font-family: "VAG rounded";
   src: font-url('VAG_Rounded.ttf');
}

$VAG-font: "VAG Rounded", sans-serif;

h1 {
  font-family: $VAG-font;
}

.top-bar-thing {
  position: relative;
  height: 100px;
  width: 100%;
}

.logo {
  float: left;
  width: 175px;
  height: 51px;
  margin: 20px 20px 0 50px;
}

.search {
  float: left;
  width: 150px;
  padding: 15px 0 0 50px;
}

li.nav-item {
  margin: 0;
  list-style-type: none;
}

li.user-nav {
  list-style-type: none;
}

.user-nav {
  float: right;
  text-decoration: none;
  padding: 15px 15px 0 0;
}

li {
  float: left;
  padding: 20px 0 0 20px;
}

#photos
{
 max-width: 60em; /* 960 px */
 margin: 0 auto;
}

#list {
 width: 103.125%; /* 990px */
 overflow: hidden;
 margin-left: -1.562%; /* 15px */
 margin-bottom: 10px;
}

.item {
  width: 230px;
  margin: 15px;
}

.left-col {
  float: left;
  width: 200px;
  height: 100%;
  margin: 0 50px 0 0;
}

.right-col {
}

.main-wrapper {
  float: left;
  width: 350px;
}
